{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<h1>動画アップロード</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="video">動画を選択:</label>
        <input type="file" name="video" accept="video/*" required>
        <br>
        <input type="submit" value="アップロード">
    </form>
    
    {% if upload_message == 1 %}
        <p>動画がアップロードされました！</p>
        
    {% elif upload_message == 2 %}
        <p>動画が選択されていません。</p>
    {% else %}
        <br>
    {% endif %}

{% endblock %}